/* Profile Styling */
.profile-container {
    display: flex;
    justify-content: center;
    padding-top: 1500px;
    background-color: #f4f7fb;
    min-height: 100vh;
}

.profile-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card h2 {
    margin-bottom: 30px;
    color: #333;
}

.profile-info {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.profile-info label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.profile-info p, .profile-info input, .profile-info textarea {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-info input, .profile-info textarea {
    font-size: 14px;
    color: #555;
}

.profile-info input:focus, .profile-info textarea:focus {
    border-color: #0056b3;
    outline: none;
}

.edit-save-btn, .book-info-btn {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}

.edit-save-btn:hover, .book-info-btn:hover {
    background-color: #004085;
}

.received-messages {
    margin-top: 30px;
    text-align: left;
}

.received-messages ul {
    list-style-type: none;
    padding: 0;
}

.received-messages li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.received-messages h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-bottom: 20px;
}
